.edit-form-hidden{
    display: none;
}

textarea.textarea{
    margin-left: 30px;
    height: 100px;
    width: 100%;
    border: 1px solid  #f32222;
    border-radius: 3px;
}

.profile-photo-thumb {
    height: 120px;
    width: 120px;
    background-size: cover ;
    background-repeat: no-repeat ;
    background-position: center ;

}

.add-photo-block{

    background: #f1f1f1;
    padding: 36px 10px 34px 10px;
    display: block;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

.add-photo-block__text{
    font-size: 12px;
    display: block;
    opacity: 0.5;
}

.photo-list__item-inner{
    display:inline-block;
    height: 120px;
    width: 120px;
    margin: 0 0 10px 10px;
}

.camera-icon{
    opacity: 0.3;
    font-size: 27px;
}

.hidden{
    display: none;
}

.image{
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.header__action-panel .avatar{
    background-position: center;
}

.image-default{
    background-color: #f1f1f1;
    text-align: center;
    padding-top: 170px;
}

.no-photo{
    font-size: 72px;
    opacity: 0.3;
}

.sortable-photos{
    display:inline;
}

form.edit-block-to-show .nice-select{
    display: none;
}

form.edit-block-to-show select,
form.edit-block-to-show input,
form.edit-block-to-show checkbox
form.edit-block-to-show textarea{
    display: block !important;
}

.btn-edit{
    margin: 0 10px;
}

.btn-edit:hover{
    cursor: pointer;
    color: #f32222;
}

.fa.fa-star{
    color: #000 !important;
}

.btn-favorite.favorite,
.btn-ignore.block{
    color: #f32222 !important;
}

.properties-edit input,
.properties-edit select,
.properties-edit textarea{
    border: 1px solid  #f32222;
    border-radius: 3px;
}

.properties-edit button{
    border-radius: 3px;
    background:  #f32222;
    color:#fff;
}

.properties-edit button:hover{
    color:#fff;
    background: #cd1e1a;
}
.edit-block:hover{
    cursor:pointer;
}

.b-profile .image{
    min-height: 453px;
}

#modal_form,
#m_modal_form{
    width: 500px;
    border-radius: 3px;
    background: #fff;
    position: fixed;
    top: 40%;
    left: 45%;
    margin-top: -150px;
    margin-left: -150px;
    display: none;
    opacity: 0;
    z-index: 5;

}
#modal_form #modal_close,
#m_modal_form #modal_close{
    width: 21px;
    height: 21px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: block;
    color: #fff;
}

#overlay,
#m_overlay{
    z-index:3;
    position:fixed;
    background-color:#000;
    opacity:0.6;
    -moz-opacity:0.6;
    filter:alpha(opacity=60);
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
    display:none;
}


.quick-message-header{
    padding: 20px;
    background: #f32222;
    color: #fff;
    border-radius: 3px;
}

.quick-message-body{
    padding: 20px;
}

.quick-message textarea{
    margin-top: 10px;
}

.quick-message-body textarea{
    width: 100%;
    height: 80px;
}

.quick-message .btn-send{
    border-radius: 3px;
    background: #f32222;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
    border: none;
}

.login{
    background: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 3px;
}
.login .title{
    text-align: center;
    font-size: 24px;
}

.login form{
    padding: 20px;
}

.login .btn-send{
    width:100%;
    background: #f32222;
    color:#fff;
}

.login .btn-send:hover{
    background: #cd1e1a;
}

.login label{
    display: inline-block !important;
}

.login a{
    color: #f32222;
}

.login a:hover{
    color: #cd1e1a;
}

.login .social{
    display: inline-block !important;
}

.login .nice-select .current{
    color: #000;
}

@media(max-width: 758px){

    .photo-list__item-inner{
        width:70px;
        height:70px;
    }

    .add-photo-block{
        background: #f1f1f1;
        padding: 16px 10px 16px 10px;
        display: block;
        font-size: 5px;
        line-height: 1.6;
        text-align: center;
    }

    .add-photo-block .camera-icon{
        display: none;
    }
}