  @import url(reset.css);
  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  a,
  a:link,
  a:link,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
    cursor: pointer;
    outline: none;
  }

  a:focus,
  a:active,
  button,
  input[type="reset"]::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  select::-moz-focus-inner,
  input[type="file"]>input[type="button"]::-moz-focus-inner {
    outline: none !important;
  }

  .btn-default {
    outline: none !important;
  }

  input,
  textarea,
  select,
  a {
    outline: none !important;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }

  a:hover {
    text-decoration: none;
  }

  button:active,
  button:focus {
    outline: none !important;
  }

  button::-moz-focus-inner {
    border: 0 !important;
  }

  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
  }

  button[disabled],
  html input[disabled] {
    cursor: default;
  }

  .navScroll a.selected {
    color: #00bcb7;
  }

  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  input {
    line-height: normal;
  }

  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    box-sizing: content-box;
    /* 2 */
  }

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  body {
    font-family: "SegoeUI", Arial, sans-serif;
    font-size: 16px;
    color: #7a8798;
    font-weight: 400;
    margin: 0 auto;
    background-color: #e7e7e7; // min-width: 1366px;
    min-width: 1400px;
  }

  img {
    max-width: 100%;
  }

  .hidden {
    display: none !important;
    visibility: hidden;
  }

  .ws-popover-opener {
    display: none;
  }

  .wrap {
    display: table;
    width: 100%;
  }

  li {
    list-style: none;
    list-style-position: inside;
  }

  .cf:before,
  .cf:after {
    content: " ";
    display: table;
  }

  .cf:after {
    clear: both;
  }

  .cf {
    *zoom: 1;
  }

  .bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
  }

  button,
  button:active,
  button:focus,
  button:hover,
  .btn,
  .btn:active,
  .btn:focus,
  .btn:hover {
    outline: none !important;
  }

  .btn_send {
    padding: 7px 11px 9px 9px;
    background-color: #ce171f;
    border-radius: 3px;
    color: #ffffff;
    border: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    max-width: 230px;
    &:hover,
    &:active {
      background-color: darken(#ce171f, 10%);
    }
    @media (min-width: 1024px) {}
  } //   .wrap {
  //   max-width: 1018px;
  //   margin: 0 auto;
  // }
  #wrapper {
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    position: relative;
  }

  #page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #f2f4f6;
  }

  @media(min-width:768px) {
    #wrapper {
      margin-left: 200px;
    }

    #page-wrapper {
      padding: 22px 10px;
    }
  }
  /* Top Navigation */

  .navbar-right {
    @media(min-width: 768px) {
      margin-right: 0;
    }
  }

  .top-nav {
    // padding: 0 15px;
    @media(min-width: 768px) {
      display: table;
      min-height: 80px;
      li {
        display: table-cell;
        vertical-align: middle;
      }
    }
  } // .top-nav>li {
  //   display: inline-block; // float: left;
  //   vertical-align: middle;
  // }
  .top-nav>li>a {
    // padding-top: 24px;
    // padding-bottom: 24px;
    line-height: 20px;
    color: #7a8798;
  }

  .top-nav>li>a:hover,
  .top-nav>li>a:focus,
  .top-nav>.open>a,
  .top-nav>.open>a:hover,
  .top-nav>.open>a:focus {
    color: #7a8798;
    background-color: #1a242f;
  }

  .top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }

  .top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
  }
  /* Side Navigation */

  @media(min-width:768px) {
    .side-nav {
      position: fixed;
      top: 0px;
      left: 200px;
      width: 200px;
      margin-left: -200px;
      border: none;
      border-radius: 0;
      overflow-y: auto;
      background-color: #3c4858;
      bottom: 0;
      overflow-x: hidden;
      padding-bottom: 40px;
    }

    .side-nav>li>a {
      width: 200px;
      border-bottom: 1px rgba(0, 0, 0, .3) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
      outline: none;
      background-color: transparent;
    }
  }

  .side-nav li {
    float: none;
  }

  .side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0, 0, 0, .3) solid;
  }

  .side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;*/
    color: #fff;
  }

  .side-nav>li>ul>li>a:hover {
    color: #fff;
  }

  .navbar .nav>li>a>.label {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    right: 6px;
    font-size: 10px;
    font-weight: normal;
    min-width: 15px;
    min-height: 15px;
    line-height: 1.0em;
    text-align: center;
    padding: 2px;
  }

  .navbar .nav>li>a:hover>.label {
    top: 10px;
  }

  .navbar-brand {
    padding: 5px 15px;
    margin-bottom: 10px;
  }

  .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 25px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    display: block;
    width: 100%;

    &:hover {
      color: #00e2a1;
      i {
        color: #00e2a1;
      }
    }
    @media(min-width:768px) {
      padding-top: 9px;
      padding-bottom: 8px;
    }
  }

  .navbar-brand {
    float: none;
    display: block;
    padding: 23px 25px;

    span {
      color: #fff;
      font-family: Lobster;
      font-size: 28px;
      font-weight: 400;
      line-height: 35px;
      color: #fff;
      display: block;
    }
  }

  .navbar-nav {
    width: 100%;
    margin: 0 0 15px;
  }

  .navbar-nav>li {
    i {
      margin-right: 10px;
      min-width: 20px;
    }
  }

  .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar {
    background-color: #3c4858;
    border-radius: 0;
    margin-bottom: 0;
    @media (min-width: 768px) {
      background-color: #fff; // padding-left: 24px;
    }
  }

  .nav>li>a:hover,
  .nav>li>a:focus {
    background-color: transparent;
  }

  .sidebar-footer {
    background-color: #2a3440;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    .navbar-nav>li>a {
      padding-left: 0;
      &:hover {
        color: #fff;
        i {
          color: #fff;
        }
      }
    }
    @media (min-width: 768px) {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 200px;
    }
  }

  .navbar-nav__bottom {
    margin-bottom: 0;
    li {
      padding-left: 11px;
    }
    .sidebar-footer__user {
      display: table;
      padding-right: 0;
      width: 100%;
      span {
        display: table-cell;
        vertical-align: middle;
      }
      i {
        line-height: 0;
        vertical-align: bottom;
        text-align: right;
      }
    }
  }

  .sidebar-footer__user {
    position: relative;
    .name {
      max-width: 90px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: 12px;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .sidebar-footer__user.status {
    .sidebar-footer__avatar {
      &:after {
        content: "";
        position: absolute;
        width: 13px;
        height: 13px;
        border: 3px solid #2a3440;
        box-sizing: border-box;
        bottom: 0;
        right: 0;
        border-radius: 50%;
      }
    }
  }

  .sidebar-footer__user.status-online {
    .sidebar-footer__avatar {
      &:after {
        background-color: #00e2a1;
      }
    }
  }

  .sidebar-footer__user.status-ofline {
    .sidebar-footer__avatar {
      &:after {
        background-color: #FF4300;
      }
    }
  }

  .sidebar-footer__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
  }

  .b-sum-menu {
    li {
      &:last-child {
        margin-bottom: 25px;
      }
      a {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        padding-left: 34px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        display: block;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;

        &:hover {
          color: #00e2a1;
        }
      }
    }
    .list-icon {
      padding-left: 0;
      i {
        width: 33px;
        text-align: center;
        margin-right: 7px;
      }
      a {
        padding-left: 0;
      }
    }
  }

  .navbar-header {
    .navbar-brand {
      margin-bottom: 20px;
    }
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }



  .link-faq span {
    background: url("../images/icon-question.png") center no-repeat;
    background-size: contain;
    display: inline-block;
    height: 32px;
    width: 32px;
  }

  .nav__search {
    height: 32px;
    max-width: 250px;
    margin: 0 auto;
    .input-group {
      display: flex;
    }
    .form-control {
      height: 32px;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
      background-color: #f2f4f6;
      border: none;
      box-shadow: none;
      padding-left: 5px;
    }
    button {
      width: 25px;
      padding: 0;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
      background-color: #f2f4f6;
      border: none;
      box-shadow: none;
      padding: 0 10px;
    }
    input::-webkit-input-placeholder {
      opacity: 0.48;
      color: #6f7b88;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
    }
    input:-moz-placeholder {
      opacity: 0.48;
      color: #6f7b88;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
    }
    input::-moz-placeholder {
      opacity: 0.48;
      color: #6f7b88;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
    }
    input:-ms-input-placeholder {
      opacity: 0.48;
      color: #6f7b88;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
    }
  }

  .header-icon-notification {
    width: 70px;
  }

  .header-icon-notification a {
    text-align: center;
  }

  .header-icon-notification a:after {
    content: attr(data-count);
    color: #3c4858;
    font-size: 11px;
    font-weight: 700;
    line-height: 22px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #00e2a1;
    font-family: "SegoeUI";
    z-index: 10;
    padding: 2px 3px;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, .3), inset 0 2px 5px rgba(225, 225, 225, .3);
    position: relative;
    top: -12px;
    right: -11px;
  }

  .header-icon-notification a:before {
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
  }

  .notification {
    li {
      font-size: 20px;
      color: #3c4858;
    }
  } // test menu
  /* The side navigation menu */

  .cities-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #1c242e;


    overflow-x: hidden;
    padding-top: 40px;
    transition: 0.5s;
  }

  .cities-nav {
    width: 200px;
    .navbar-nav>li>a {
      padding-top: 5px;
      padding-bottom: 4px;
    }
    .nav__search {
      width: 179px;
      margin-bottom: 15px;
    }
    li {
      display: block;
      float: none;
      a {
        white-space: nowrap;
      }
    }
  }

  .cities-nav a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
  }

  .cities-nav a:hover,
  .offcanvas a:focus {
    color: #f1f1f1;
  }


  .cities-nav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 26px;
  }


  #page-wrapper {
    transition: margin-left .5s;
    padding: 24px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  #side-nav {
    transition: margin-left .5s;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 100;
  }

  @media screen and (max-height: 450px) {
    .cities-nav {
      padding-top: 15px;
    }
    .cities-nav a {
      font-size: 18px;
    }
  }

  .overlay {
    @media (min-width: 768px) {
      height: 100%;
      position: fixed;
      z-index: 3;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.9);
      overflow-y: auto;
      overflow-x: hidden;
      text-align: center;
      opacity: 0;
      transition: opacity 1s;
    }
  } // b-header-notification
  .top-nav .b-header-notification {
    display: flex;
    max-width: 480px;
    min-height: 64px;
    border-radius: 5px;
    border: 1px solid #e0e4e8;
    background-color: #fff;
    padding: 8px;
    position: relative;
    margin-bottom: 0;

    @media (min-width: 768px) {

      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 6px;
        height: 14px;
        left: -5px;
        background: url("../images/arrow-before-not.png") center no-repeat;
        background-size: contain;
      }
    }
  }


  .b-header-notification {
    .inner {
      display: flex;
      align-items: center;
    }
    .image {
      display: block;
      width: 48px;
      height: 48px;
      flex: 0 0 auto;
      img {
        max-height: 100%;
      }
    }
    .text {
      padding-left: 7px;
      color: #7a8798;
      font-weight: 400;
      line-height: 17px;
      font-size: 11px;
      padding-right: 20px;
      &:hover {
        cursor: pointer;
      }
    }
    .review-name {
      text-transform: uppercase;
      color: #00e2a1;
      font-size: 13px;
    }
    .review-text {}
    .from-whom {
      font-size: 13px;
      line-height: 16px;

      color: #7a8798;
      font-weight: 400;
      span {
        color: #3c4858;
        font-weight: 600;
      }
    }
    .notification-slose {
      align-items: center;
      display: flex;
      color: #9da8b4;
      margin-right: 9px;
      padding: 0;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
    }
  } // action panel
  .filter {
    padding-bottom: 13px;
    .form-control:focus {
      box-shadow: none;
      border-color: #ccc;
    }
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
      width: auto;
      min-width: 120px;
      button {
        border-radius: 5px;
        background-color: #00e2a1;
        border: none;
        box-shadow: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #3c4858;
        padding-left: 14px;
        height: 35px;
      }
    }
    .dropdown-menu {
      border: none;
      box-shadow: none;
      margin: 0;
    }
    .bootstrap-select.btn-group .dropdown-menu li a {
      background-color: #00e2a1;
      border: none;
      box-shadow: none;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
      padding-left: 14px;
      &:hover {
        color: #fff;
      }
    }
    .bootstrap-select.btn-group .dropdown-menu li:last-child a {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .bootstrap-select.btn-group .dropdown-menu {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }

  .bootstrap-select.btn-group .dropdown-menu li {
    &:nth-child(1) {
      display: none;
    }
  }

  .action-select {
    &.btn-group .dropdown-toggle .caret {
      right: 20px;
      font-size: 18px;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
    }
    .caret {
      border: none;
      position: absolute;
      right: 5px;
      &:after {
        content: "\f107";
        position: absolute;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        top: -6px;
        right: -8px;
        z-index: -1;
        border: none;
        color: #3c4858;
      }
    }
  }

  .action-select.open {
    button {
      border-bottom-right-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
    }
    &.btn-group .dropdown-toggle .caret {
      &:after {
        content: "\f106";
      }
    }
  } // action panel end
  .action-link {
    display: block;
    color: #7a8798;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    border-radius: 5px;
    background-color: #fff;
    padding: 9px 14px 8px;
    &:link,
    &:hover,
    &:active,
    &:visited {
      color: #7a8798;
    }
  }

  .action-link__metro {
    padding-left: 10px;
    i {
      background: url("../images/icon-metro.png") center no-repeat;
      background-size: contain;
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 12px;
      margin-right: 10px;
    }
  }

  .action-element {
    float: left;
    margin-right: 17px;
    position: relative;
    margin-bottom: 10px;
    height: 35px;
    box-shadow: 0 1px 5px 1px rgba(144, 156, 168, 0.4);
    border-radius: 5px;

    .form-control {
      height: 35px;
      border: none;
    }
  }

  .action-element__cab {
    width: 96px;
    a {
      width: 32px;
      height: 35px;
      border-radius: 5px 0 0 5px;
      background-color: #fff;
      display: block;
      text-align: center;
      vertical-align: middle;
      line-height: 35px;
      color: #7a8798;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
      &:hover {
        background-color: #00e2a1;
        color: #3c4858;
      }
    }
    a+a {
      border-radius: 0 5px 5px 0;
    }
    a.active {
      background-color: #00e2a1;
      color: #3c4858;
    }
  }

  .filter-room {
    .btn {
      width: 48px;
      height: 35px;
      box-shadow: none;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
      color: #3c4858;
      font-size: 16px;
      font-weight: 400;
      border-color: #d5dadf;
    }
    .btn:last-child:not(:first-child) {
      border-left: 0;
    }
    .btn.active {
      background-color: #00e2a1;
      border-color: #00e2a1;
    }
    .btn:hover {
      background-color: #00e2a1;
      border-color: #00e2a1;
    }
  }


  .action-elemen__date {
    display: flex;
    input {
      max-width: 111px;
      text-align: right;
      position: relative;
      padding-right: 15px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .date-wrap {
    position: relative;
    &:before {
      content: "";
      background: url("../images/arrow-date.png") center no-repeat;
      background-size: contain;
      width: 15px;
      height: 14px;
      position: absolute;
      left: 7px;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 1;
    }
    &:nth-child(1) input {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &:nth-child(2) input {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  .datepicker table tr td.active:active,
  .datepicker table tr td.active.highlighted:active,
  .datepicker table tr td.active.active,
  .datepicker table tr td.active.highlighted.active,
  .open>.dropdown-toggle.datepicker table tr td.active,
  .open>.dropdown-toggle.datepicker table tr td.active.highlighted {
    background-color: #00e2a1;
    border-color: #00e2a1;
    color: #000;
    border-radius: 50%;
  }

  .bootstrap-datetimepicker-widget td.day:hover,
  .bootstrap-datetimepicker-widget td.hour:hover,
  .bootstrap-datetimepicker-widget td.minute:hover,
  .bootstrap-datetimepicker-widget td.second:hover {
    border-radius: 50%;
  }

  .bootstrap-datetimepicker-widget table td.today:before {
    border-bottom-color: #00e2a1;
  }



  .bootstrap-datetimepicker-widget thead tr:first-child th:hover {
    background-color: #00e2a1 !important;
    color: #fff;
  } // slider
  .formCost {
    border-radius: 5px;
    background-color: #fff;
    display: inline-block;
    width: 180px;
    position: relative;
    display: flex;
    &:before {
      content: "";
      width: 18px;
      height: 1px;
      background-color: #96a2af;
      position: absolute;
      left: 0px;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 1;
    }
  }

  .formCost label {
    float: left;
    color: #555;
    font-size: 13px;
    font-weight: 400;

    position: relative;
    top: 2px;
  }

  .formCost input {
    float: left;
    color: #7a8798;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    width: 80px;
    height: 35px;
    background: none;
    border: 1px solid #e3e3e3;
    text-align: center;
    border-radius: 5px;
    position: relative;
    border: none;
  }

  .formCost-num {
    position: relative;
    margin-right: 20px;
    &:after {
      content: "\f158";
      position: absolute;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      top: 0px;
      bottom: 0;
      margin: auto;
      right: 7px;
      z-index: 3;
      border: none;
      color: #7a8798;
      line-height: 39px;
      font-size: 13px;
    }
    &:nth-child(2) {
      margin-right: 0;
    }
  }

  .sliderCont {
    position: absolute;
    top: 50px;
    z-index: 40;
    left: -20%;
    display: none;
  }

  .ui-slider {
    position: relative;
  }

  .cost-wrap {
    position: relative;
  }

  .sliderCont__inner {
    box-shadow: 0 1px 5px 1px rgba(144, 156, 168, 0.4);
    margin: auto;
    padding-top: 21px;
    padding-left: 15px;
    padding-right: 15px;
    width: 255px;
    height: 44px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 10px solid #fff;
      position: absolute;
      left: 0px;
      right: 0;
      top: -48px;
      bottom: 0;
      margin: auto;
      z-index: 1;
    }
  }

  .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 22px;
    height: 22px;
    border: 4px solid #fff;
    background-color: #00e2a1;
    border-radius: 50%;
    cursor: pointer; // -webkit-transition: all .5s ease; // -moz-transition: all .5s ease;
    // -ms-transition: all .5s ease;
    // -o-transition: all .5s ease;
    // transition: all .5s ease;
    // &:hover {
    //   width: 26px;
    //   height: 26px;
    //   border: 4px solid #fff;
    // }
  }

  .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
  }

  .ui-slider-horizontal {
    height: 3px;
  }

  .ui-slider-horizontal .ui-slider-handle {
    top: -10px;
    margin-left: -6px;
  }

  .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
  }

  .ui-slider-horizontal .ui-slider-range-min {
    left: 0;
  }

  .ui-slider-horizontal .ui-slider-range-max {
    right: 0;
  }

  .ui-widget-content {
    height: 4px;
    border-radius: 2px;
    background-color: #9ca7b4;
  }

  .ui-widget-header {
    border: 1px solid #D4D4D4;
    background: #00e2a1;
  }

  .ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }

  .ui-slider-horizontal .ui-state-default {


    margin-left: -11px;
  } // b-panel-notification
  .panel-notification {
    position: absolute;
    top: 0;
    left: 0px;
    width: 380px;
    background-color: #fff;
    z-index: 20; // display: none;
    .header-icon-notification {
      a {
        display: block;
        padding: 10px 15px;
        line-height: 20px;
        color: #7a8798;
        position: relative;
      }
    }
    .link-arhiv {
      color: #7a8798;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      border-radius: 16px;
      border: 1px solid #7a8798;
      background-color: rgba(150, 162, 175, 0);
      padding: 8px 13px;
      &:link,
      &:hover,
      &:active,
      &:visited {
        color: #7a8798;
      }
    }
    .header {
      display: flex;
      align-items: center;
      padding: 19px 0;
    }
    .bottom {
      display: flex;
      align-items: center;
    }
    .about {
      display: flex;
      align-items: center;
      .image {
        width: 18px;
        height: 18px;
        background-color: #000;
        margin-right: 8px;
      }
      .title {
        color: #00e2a1;
        font-size: 14px;
        font-weight: 400;
        white-space: nowrap;
        max-width: 225px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .n-panel {
      flex: 0 1 auto;
      margin-left: auto;
      li {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        a {
          color: #9da8b4;
          font-size: 14px;
          -webkit-transition: all .5s ease;
          -moz-transition: all .5s ease;
          -ms-transition: all .5s ease;
          -o-transition: all .5s ease;
          transition: all .5s ease;
          &:hover {
            color: #00e2a1;
          }
        }
      }
    }
  }

  .hashtag {
    color: #00e2a1;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .notification-list {
    height: calc(100vh - 100px);
    position: relative;
  }

  .notification-list__wrap {

    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, .5), #fff 75%);
      height: 70px;
      z-index: 10;
    }
  }

  .b-notification-item {
    border-bottom: 1px solid #f2f4f6;

    .inner {
      padding-right: 22px;
      padding-bottom: 23px;
      padding-top: 20px;
      margin-left: 20px;
    }
    .top {
      display: flex;
      align-items: center;
      padding-bottom: 5px; // justify-content: space-between;
      .hashtag {
        margin-right: 20px;
        text-align: left;
      }
      span {
        opacity: 0.48;
        color: #6f7b88;
        font-size: 11px;
        font-weight: 400;
        line-height: 18px;
        margin-right: 10px;
        text-align: left;
      }
      .status {
        display: block;
        width: 11px;
        height: 11px;
        border: 3px solid #fff;
        border-radius: 50%;
        flex: 0 1 auto;
        margin-left: auto;
        /* new */
      }
    }
    .user {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
    }
    .avatar {
      width: 24px;
      height: 24px;
      position: relative;
      margin-right: 8px;
      border-radius: 50%;
      background-color: #3c4858;
    }
    .name {
      color: #3c4858;
      font-size: 14px;
      font-weight: 600;
      white-space: nowrap;
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .text {
      margin-bottom: 10px;
      color: #7a8798;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      max-width: 310px;
      padding-right: 10px;
      a {
        color: #00e2a1;
        position: relative;
      }
      .n-review {
        padding-left: 16px;
        &:after {
          content: "\f075";
          position: absolute;
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          bottom: 2px;
          left: 0;
          border: none;
          color: #00e2a1;
        }
      }
    }
  }

  .b-notification-item__new {
    .status {
      background-color: #00e2a1;
    }
    .avatar:after {
      background-color: #00e2a1;
      content: "";
      position: absolute;
      width: 11px;
      height: 11px;
      border: 3px solid #fff;
      box-sizing: border-box;
      bottom: -2px;
      right: 0;
      border-radius: 50%;
    }
  }


  .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
  .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
  {
    background-color: #9da8b4;
  }

  .mCSB_scrollTools .mCSB_draggerRail {
    width: 2px !important;
  }

  .menu-defer {
    text-align: left;
    min-width: 100px;
    left: -45px;
    padding-top: 0;
    padding-bottom: 0; // box-shadow: none;
    border-radius: 0;
    border: none;
    box-shadow: 0 1px 5px 1px rgba(144, 156, 168, 0.4);
    padding-bottom: 4px;
    li {
      margin-right: 0 !important;
      margin-left: 0 !important;
      width: 100%;
      padding: 0 4px;
      a {
        text-align: left;
        padding-left: 8px;
        padding-right: 0;
      }
    }
    margin-top: 7px;
    .drop-title {
      opacity: 0.5;
      color: #6f7b88;
      font-size: 11px;
      font-weight: 400;
      padding-top: 8px;
      padding-bottom: 8px;
      line-height: 11px;
      padding-left: 12px;
      position: relative;
      &:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 10px solid #fff;
        position: absolute;
        left: 0px;
        right: 0;
        top: -48px;
        bottom: 0;
        margin: auto;
        z-index: 1;
      }
    }
  }

  .n-rating {}

  .b-n-rating {
    background-color: #f2f4f6;
    padding: 24px;
    display: none;

    textarea {
      border: none;
      display: block;
      width: 100%;
      height: 108px;
      border-radius: 5px;
      background-color: #fff;
      margin-bottom: 8px;
      resize: none;
      padding: 10px;
      color: #7a8798;
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
    }
  }

  .panel-rating {
    // display: none;
    margin-bottom: 8px;
    .btn {
      box-shadow: none;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
      border-color: #d5dadf
    }
    .btn.active {
      background-color: #00e2a1;
      border-color: #00e2a1;
    }
    .btn-group {
      display: table;
      width: 100%;
    }
    label {
      display: table-cell;
      float: none !important;
    }
  }

  .panel-rating__label {
    color: #7a8798;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    display: block;
  }

  .btn-send-rating {
    display: block;
    width: 100%;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    border-radius: 5px;
    background-color: #3c4858;
  }

  .mCSB_inside>.mCSB_container {
    margin-right: 0px;
  }

  .hashtag-panel {
    // display: none;
  }

  .hashtag-panel-list {
    padding: 24px;
    border-top: 1px solid #f2f4f6;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      .title {
        opacity: 0.48;
        color: #6f7b88;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
      }
      a {
        color: #9da8b4;
        font-size: 14px;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
      }
    }
    .hashtag {
      font-size: 13px;
      font-weight: 400;
      line-height: 13px;
      text-transform: uppercase;
      color: #00e2a1;
      display: inline-block;
      padding: 9px 10px 8px;
      &:hover {
        color: #fff;
        border-radius: 2px;
        background-color: #00e2a1;
      }
    }
  }

  .btn-xpand-list {
    color: #9da8b4;
    float: right;
    font-size: 14px;
  } // not responsive
