@import url(reset.css);
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

a, a:link, a:link, a:hover, a:active, a:visited { text-decoration: none; cursor: pointer; outline: none; }

a:focus, a:active, button, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, select::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { outline: none !important; }

.btn-default { outline: none !important; }

input, textarea, select, a { outline: none !important; }

input:focus, textarea:focus, select:focus { outline: none; }

a:hover { text-decoration: none; }

button:active, button:focus { outline: none !important; }

button::-moz-focus-inner { border: 0 !important; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

button[disabled], html input[disabled] { cursor: default; }

.navScroll a.selected { color: #00bcb7; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

body { font-family: "SegoeUI", Arial, sans-serif; font-size: 16px; color: #7a8798; font-weight: 400; margin: 0 auto; background-color: #e7e7e7; min-width: 1400px; }

img { max-width: 100%; }

.hidden { display: none !important; visibility: hidden; }

.ws-popover-opener { display: none; }

li { list-style: none; list-style-position: inside; }

.cf:before, .cf:after { content: " "; display: table; }

.cf:after { clear: both; }

.cf { *zoom: 1; }

.bootstrap-select .dropdown-toggle:focus { outline: none !important; }

button, button:active, button:focus, button:hover, .btn, .btn:active, .btn:focus, .btn:hover { outline: none !important; }

.btn_send { padding: 7px 11px 9px 9px; background-color: #ce171f; border-radius: 3px; color: #ffffff; border: none; display: block; margin: 0 auto; cursor: pointer; max-width: 230px; }
.btn_send:hover, .btn_send:active { background-color: #a01218; }

#wrapper { padding-left: 0; -webkit-transition: all .5s ease; transition: all .5s ease; position: relative; }

#page-wrapper { width: 100%; padding: 0; background-color: #f2f4f6; }

@media (min-width: 768px) { #wrapper { margin-left: 200px; }
  #page-wrapper { padding: 24px 0px; padding-right: 24px; } }
/* Top Navigation */
@media (min-width: 768px) { .navbar-right { margin-right: 0; } }

@media (min-width: 768px) { .top-nav { display: table; min-height: 80px; }
  .top-nav li { display: table-cell; vertical-align: middle; } }

.top-nav > li > a { line-height: 20px; color: #7a8798; }

.top-nav > li > a:hover, .top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus { color: #7a8798; background-color: #1a242f; }

.top-nav > .open > .dropdown-menu { float: left; position: absolute; margin-top: 0; /*border: 1px solid rgba(0,0,0,.15);*/ border-top-left-radius: 0; border-top-right-radius: 0; background-color: #fff; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.top-nav > .open > .dropdown-menu > li > a { white-space: normal; }

/* Side Navigation */
@media (min-width: 768px) { .side-nav { position: fixed; top: 0px; left: 200px; width: 200px; margin-left: -200px; border: none; border-radius: 0; overflow-y: auto; background-color: #3c4858; bottom: 0; overflow-x: hidden; padding-bottom: 40px; }
  .side-nav > li > a { width: 200px; border-bottom: 1px rgba(0, 0, 0, 0.3) solid; }
  .side-nav li a:hover, .side-nav li a:focus { outline: none; background-color: transparent; } }
.side-nav li { float: none; }

.side-nav > li > ul { padding: 0; border-bottom: 1px rgba(0, 0, 0, 0.3) solid; }

.side-nav > li > ul > li > a { display: block; padding: 10px 15px 10px 38px; text-decoration: none; /*color: #999;*/ color: #fff; }

.side-nav > li > ul > li > a:hover { color: #fff; }

.navbar { height: 80px; position: fixed; background-color: #fff; z-index: 10; width: calc(100% - 200px); }

.navbar .nav > li > a > .label { border-radius: 50%; position: absolute; top: 14px; right: 6px; font-size: 10px; font-weight: normal; min-width: 15px; min-height: 15px; line-height: 1.0em; text-align: center; padding: 2px; }

.navbar .nav > li > a:hover > .label { top: 10px; }

.navbar-brand { padding: 5px 15px; margin-bottom: 10px; }

.navbar-nav > li > a { color: #fff; font-size: 16px; font-weight: 400; line-height: 22px; padding-left: 25px; -webkit-transition: all .5s ease; transition: all .5s ease; display: block; width: 100%; }
.navbar-nav > li > a:hover { color: #00e2a1; }
.navbar-nav > li > a:hover i { color: #00e2a1; }
@media (min-width: 768px) { .navbar-nav > li > a { padding-top: 9px; padding-bottom: 8px; } }

.navbar-nav .active a { color: #00e2a1; }
.navbar-nav .active a i { color: #00e2a1; }

.navbar-brand { float: none; display: block; padding: 23px 25px; }
.navbar-brand span { color: #fff; font-family: Lobster; font-size: 28px; font-weight: 400; line-height: 35px; color: #fff; display: block; }

.navbar-nav { width: 100%; margin: 0 0 15px; }

.navbar-nav > li i { margin-right: 10px; min-width: 20px; }

.navbar-toggle .icon-bar { background-color: #fff; }

.navbar { background-color: #3c4858; border-radius: 0; margin-bottom: 0; border-bottom: 1px solid #f2f4f6; }
@media (min-width: 768px) { .navbar { background-color: #fff; } }

.nav > li > a:hover, .nav > li > a:focus { background-color: transparent; }

.sidebar-footer { background-color: #2a3440; -webkit-transition: all .5s ease; transition: all .5s ease; }
.sidebar-footer .navbar-nav > li > a { padding-left: 0; }
.sidebar-footer .navbar-nav > li > a:hover { color: #fff; }
.sidebar-footer .navbar-nav > li > a:hover i { color: #fff; }
@media (min-width: 768px) { .sidebar-footer { position: fixed; bottom: 0; left: 0; width: 200px; } }

.navbar-nav__bottom { margin-bottom: 0; }
.navbar-nav__bottom li { padding-left: 11px; }
.navbar-nav__bottom .sidebar-footer__user { display: table; padding-right: 0; width: 100%; }
.navbar-nav__bottom .sidebar-footer__user span { display: table-cell; vertical-align: middle; }
.navbar-nav__bottom .sidebar-footer__user i { line-height: 0; vertical-align: bottom; text-align: right; }

.sidebar-footer__user { position: relative; }
.sidebar-footer__user .name { max-width: 90px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-left: 12px; font-size: 14px; font-weight: 400; }

.sidebar-footer__user.status .sidebar-footer__avatar:after { content: ""; position: absolute; width: 13px; height: 13px; border: 3px solid #2a3440; box-sizing: border-box; bottom: 0; right: 0; border-radius: 50%; }

.sidebar-footer__user.status-online .sidebar-footer__avatar:after { background-color: #00e2a1; }

.sidebar-footer__user.status-ofline .sidebar-footer__avatar:after { background-color: #FF4300; }

.sidebar-footer__avatar { width: 32px; height: 32px; border-radius: 50%; position: relative; }

.b-sum-menu li:last-child { margin-bottom: 25px; }
.b-sum-menu li a { color: #fff; font-size: 14px; font-weight: 400; line-height: 22px; padding-left: 34px; -webkit-transition: all .5s ease; transition: all .5s ease; display: block; width: 100%; padding-top: 5px; padding-bottom: 5px; }
.b-sum-menu li a:hover { color: #00e2a1; }
.b-sum-menu .list-icon { padding-left: 0; }
.b-sum-menu .list-icon i { width: 33px; text-align: center; margin-right: 7px; }
.b-sum-menu .list-icon a { padding-left: 0; }

.navbar-header .navbar-brand { margin-bottom: 20px; }

.navbar-collapse { padding-left: 0; padding-right: 0; }

.link-faq span { background: url("/frontend/images/gliss/icon-question.png") center no-repeat; background-size: contain; display: inline-block; height: 32px; width: 32px; }

.nav__search { height: 32px; max-width: 250px; margin: 0 auto; }
.nav__search .input-group { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.nav__search .form-control { height: 32px; border-top-right-radius: 16px; border-bottom-right-radius: 16px; background-color: #f2f4f6; border: none; box-shadow: none; padding-left: 5px; }
.nav__search button { width: 25px; padding: 0; border-top-left-radius: 16px; border-bottom-left-radius: 16px; background-color: #f2f4f6; border: none; box-shadow: none; padding: 0 10px; }
.nav__search input::-webkit-input-placeholder { opacity: 0.48; color: #6f7b88; font-size: 14px; font-weight: 400; line-height: 18px; }
.nav__search input:-moz-placeholder { opacity: 0.48; color: #6f7b88; font-size: 14px; font-weight: 400; line-height: 14px; }
.nav__search input::-moz-placeholder { opacity: 0.48; color: #6f7b88; font-size: 14px; font-weight: 400; line-height: 18px; }
.nav__search input:-ms-input-placeholder { opacity: 0.48; color: #6f7b88; font-size: 14px; font-weight: 400; line-height: 18px; }

.header-icon-notification { width: 70px; }

.header-icon-notification a { text-align: center; }

.header-icon-notification a:after { content: attr(data-count); color: #3c4858; font-size: 11px; font-weight: 700; line-height: 22px; border-radius: 50%; border: 2px solid #fff; background-color: #00e2a1; font-family: "SegoeUI"; z-index: 2; padding: 2px 3px; box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3), inset 0 2px 5px rgba(225, 225, 225, 0.3); position: relative; top: -12px; right: -11px; }

.header-icon-notification a:before { left: 0; right: 0; margin: auto; position: absolute; }

.notification li { font-size: 20px; color: #3c4858; }

/* The side navigation menu */
.cities-nav { height: 100%; width: 0; position: fixed; z-index: 5; top: 0; left: 0; background-color: #1c242e; overflow-x: hidden; padding-top: 40px; -webkit-transition: 0.5s; transition: 0.5s; }

.cities-nav { width: 200px; }
.cities-nav .navbar-nav > li > a { padding-top: 5px; padding-bottom: 4px; }
.cities-nav .nav__search { width: 179px; margin-bottom: 15px; }
.cities-nav li { display: block; float: none; }
.cities-nav li a { white-space: nowrap; }

.cities-nav a { padding: 8px; text-decoration: none; font-size: 25px; color: #818181; display: block; -webkit-transition: 0.3s; transition: 0.3s; }

.cities-nav a:hover, .offcanvas a:focus { color: #f1f1f1; }

.cities-nav .closebtn { position: absolute; top: 0; right: 0px; font-size: 26px; }

#page-wrapper { -webkit-transition: margin-left .5s; transition: margin-left .5s; -webkit-transition: all .5s ease; transition: all .5s ease; padding-top: 80px; }

#side-nav { -webkit-transition: margin-left .5s; transition: margin-left .5s; -webkit-transition: all .5s ease; transition: all .5s ease; z-index: 100; }

@media screen and (max-height: 450px) { .cities-nav { padding-top: 15px; }
  .cities-nav a { font-size: 18px; } }
@media (min-width: 768px) { .overlay { height: 100%; position: fixed; z-index: 3; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.9); overflow-y: auto; overflow-x: hidden; text-align: center; opacity: 0; -webkit-transition: opacity 1s; transition: opacity 1s; } }

.top-nav .b-header-notification { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; max-width: 480px; min-height: 64px; border-radius: 5px; border: 1px solid #e0e4e8; background-color: #fff; padding: 8px; position: relative; margin-bottom: 0; }
@media (min-width: 768px) { .top-nav .b-header-notification:before { content: ""; position: absolute; top: 0; bottom: 0; margin: auto; width: 6px; height: 14px; left: -5px; background: url("/frontend/images/gliss/arrow-before-not.png") center no-repeat; background-size: contain; } }

.b-header-notification .inner { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.b-header-notification .image { display: block; width: 48px; height: 48px; -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; }
.b-header-notification .image img { max-height: 100%; }
.b-header-notification .text { padding-left: 7px; color: #7a8798; font-weight: 400; line-height: 17px; font-size: 11px; padding-right: 20px; }
.b-header-notification .text:hover { cursor: pointer; }
.b-header-notification .review-name { text-transform: uppercase; color: #00e2a1; font-size: 13px; }
.b-header-notification .from-whom { font-size: 13px; line-height: 16px; color: #7a8798; font-weight: 400; }
.b-header-notification .from-whom span { color: #3c4858; font-weight: 600; }
.b-header-notification .notification-slose { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; color: #9da8b4; margin-right: 9px; padding: 0; -webkit-transition: all .5s ease; transition: all .5s ease; }

.filter { padding-bottom: 13px; padding-left: 24px; padding-top: 24px; }
.filter .form-control:focus { box-shadow: none; border-color: #ccc; }
.filter .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) { width: auto; min-width: 120px; }
.filter .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) button { border-radius: 5px; background-color: #00e2a1; border: none; box-shadow: none; font-size: 16px; font-weight: 400; line-height: 24px; color: #3c4858; padding-left: 14px; height: 35px; }
.filter .dropdown-menu { border: none; box-shadow: none; margin: 0; }
.filter .bootstrap-select.btn-group .dropdown-menu li a { background-color: #fff; border: none; box-shadow: none; font-size: 16px; font-weight: 400; line-height: 27px; color: #555; -webkit-transition: all .5s ease; transition: all .5s ease; padding-left: 14px; border-bottom: 1px solid #d5dadf; }
.filter .bootstrap-select.btn-group .dropdown-menu li a:hover { color: #fff; background-color: #00e2a1; }
.filter .bootstrap-select.btn-group .dropdown-menu li:last-child a { border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }
.filter .bootstrap-select.btn-group .dropdown-menu { padding-top: 0; padding-bottom: 0; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }

.bootstrap-select.btn-group .dropdown-menu li:nth-child(1) { display: none; }

.action-select.btn-group .dropdown-toggle .caret { right: 20px; font-size: 18px; -webkit-transition: all .5s ease; transition: all .5s ease; }
.action-select .caret { border: none; position: absolute; right: 5px; }
.action-select .caret:after { content: "\f107"; position: absolute; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; top: -6px; right: -8px; z-index: -1; border: none; color: #3c4858; }

.action-select.open button { border-bottom-right-radius: 0px !important; border-bottom-left-radius: 0px !important; }
.action-select.open.btn-group .dropdown-toggle .caret:after { content: "\f106"; }

.action-link { display: block; color: #7a8798; font-size: 16px; font-weight: 400; line-height: 18px; border-radius: 5px; background-color: #fff; padding: 9px 14px 8px; }
.action-link:link, .action-link:hover, .action-link:active, .action-link:visited { color: #7a8798; }

.action-link__metro { padding-left: 10px; }
.action-link__metro i { background: url("/frontend/images/gliss/icon-metro.png") center no-repeat; background-size: contain; display: inline-block; vertical-align: middle; width: 16px; height: 12px; margin-right: 10px; }

.action-element { float: left; margin-right: 17px; position: relative; margin-bottom: 10px; height: 35px; box-shadow: 0 1px 5px 1px rgba(144, 156, 168, 0.4); border-radius: 5px; }
.action-element .form-control { height: 35px; border: none; }

.action-element__cab { width: 96px; }
.action-element__cab a { width: 32px; height: 35px; border-radius: 5px 0 0 5px; background-color: #fff; display: block; text-align: center; vertical-align: middle; line-height: 35px; color: #7a8798; -webkit-transition: all .5s ease; transition: all .5s ease; }
.action-element__cab a:hover { background-color: #00e2a1; color: #3c4858; }
.action-element__cab a + a { border-radius: 0 5px 5px 0; }
.action-element__cab a.active { background-color: #00e2a1; color: #3c4858; }

.filter-room .btn { width: 48px; height: 35px; box-shadow: none; -webkit-transition: all .5s ease; transition: all .5s ease; color: #3c4858; font-size: 16px; font-weight: 400; border-color: #d5dadf; }
.filter-room .btn:last-child:not(:first-child) { border-left: 0; }
.filter-room .btn.active { background-color: #00e2a1; border-color: #00e2a1; }
.filter-room .btn:hover { background-color: #00e2a1; border-color: #00e2a1; }

.action-elemen__date { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.action-elemen__date input { max-width: 111px; text-align: right; position: relative; padding-right: 15px; }
.action-elemen__date input:hover { cursor: pointer; }

.date-wrap { position: relative; }
.date-wrap:before { content: ""; background: url("/frontend/images/gliss/arrow-date.png") center no-repeat; background-size: contain; width: 15px; height: 14px; position: absolute; left: 7px; top: 0; bottom: 0; margin: auto; z-index: 1; }
.date-wrap:nth-child(1) input { border-bottom-right-radius: 0; border-top-right-radius: 0; }
.date-wrap:nth-child(2) input { border-bottom-left-radius: 0; border-top-left-radius: 0; }

.datepicker table tr td.active:active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .open > .dropdown-toggle.datepicker table tr td.active, .open > .dropdown-toggle.datepicker table tr td.active.highlighted { background-color: #00e2a1; border-color: #00e2a1; color: #000; border-radius: 50%; }

.bootstrap-datetimepicker-widget td.day:hover, .bootstrap-datetimepicker-widget td.hour:hover, .bootstrap-datetimepicker-widget td.minute:hover, .bootstrap-datetimepicker-widget td.second:hover { border-radius: 50%; }

.bootstrap-datetimepicker-widget table td.today:before { border-bottom-color: #00e2a1; }

.bootstrap-datetimepicker-widget thead tr:first-child th:hover { background-color: #00e2a1 !important; color: #fff; }

.formCost { border-radius: 5px; background-color: #fff; display: inline-block; width: 180px; position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.formCost:before { content: ""; width: 18px; height: 1px; background-color: #96a2af; position: absolute; left: 0px; right: 0; top: 0; bottom: 0; margin: auto; z-index: 1; }

.formCost label { float: left; color: #555; font-size: 13px; font-weight: 400; position: relative; top: 2px; }

.formCost input { float: left; color: #7a8798; font-size: 16px; font-weight: 400; line-height: 27px; width: 80px; height: 35px; background: none; border: 1px solid #e3e3e3; text-align: center; border-radius: 5px; position: relative; border: none; }

.formCost-num { position: relative; margin-right: 20px; }
.formCost-num:after { content: "\f158"; position: absolute; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; top: 0px; bottom: 0; margin: auto; right: 7px; z-index: 3; border: none; color: #7a8798; line-height: 39px; font-size: 13px; }
.formCost-num:nth-child(2) { margin-right: 0; }

.sliderCont { position: absolute; top: 50px; z-index: 40; left: -20%; display: none; }

.ui-slider { position: relative; }

.cost-wrap { position: relative; }

.sliderCont__inner { box-shadow: 0 1px 5px 1px rgba(144, 156, 168, 0.4); margin: auto; padding-top: 21px; padding-left: 15px; padding-right: 15px; width: 255px; height: 44px; border-radius: 5px; background-color: #fff; position: relative; }
.sliderCont__inner:before { content: ""; width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 10px solid #fff; position: absolute; left: 0px; right: 0; top: -48px; bottom: 0; margin: auto; z-index: 1; }

.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 22px; height: 22px; border: 4px solid #fff; background-color: #00e2a1; border-radius: 50%; cursor: pointer; }

.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; overflow: hidden; }

.ui-slider-horizontal { height: 3px; }

.ui-slider-horizontal .ui-slider-handle { top: -10px; margin-left: -6px; }

.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }

.ui-slider-horizontal .ui-slider-range-min { left: 0; }

.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-widget-content { height: 4px; border-radius: 2px; background-color: #9ca7b4; }

.ui-widget-header { border: 1px solid #D4D4D4; background: #00e2a1; }

.ui-corner-all { border-radius: 4px; }

.ui-slider-horizontal .ui-state-default { margin-left: -11px; }

.panel-notification { position: absolute; top: 0; left: 0px; width: 380px; background-color: #fff; z-index: 20; display: none; }
.panel-notification .header-icon-notification a { display: block; padding: 10px 15px; line-height: 20px; color: #7a8798; position: relative; }
.panel-notification .link-arhiv { color: #7a8798; font-size: 14px; font-weight: 400; line-height: 14px; border-radius: 16px; border: 1px solid #7a8798; background-color: rgba(150, 162, 175, 0); padding: 8px 13px; }
.panel-notification .link-arhiv:link, .panel-notification .link-arhiv:hover, .panel-notification .link-arhiv:active, .panel-notification .link-arhiv:visited { color: #7a8798; }
.panel-notification .header { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; padding: 19px 0; }
.panel-notification .bottom { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.panel-notification .about { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.panel-notification .about .image { width: 18px; height: 18px; background-color: #000; margin-right: 8px; }
.panel-notification .about .title { color: #00e2a1; font-size: 14px; font-weight: 400; white-space: nowrap; max-width: 225px; overflow: hidden; text-overflow: ellipsis; }
.panel-notification .n-panel { -webkit-box-flex: 0; -webkit-flex: 0 1 auto; -ms-flex: 0 1 auto; flex: 0 1 auto; margin-left: auto; }
.panel-notification .n-panel li { display: inline-block; margin-left: 10px; margin-right: 10px; }
.panel-notification .n-panel li:first-child { margin-left: 0; }
.panel-notification .n-panel li:last-child { margin-right: 0; }
.panel-notification .n-panel li a { color: #9da8b4; font-size: 14px; -webkit-transition: all .5s ease; transition: all .5s ease; }
.panel-notification .n-panel li a:hover { color: #00e2a1; }

.hashtag { color: #00e2a1; font-size: 11px; font-weight: 400; text-transform: uppercase; }

.notification-list { height: calc(100vh - 100px); position: relative; }

.notification-list__wrap { position: relative; }
.notification-list__wrap:after { content: ""; position: absolute; bottom: 0; left: 0; width: 100%; background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), #fff 75%); background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #fff 75%); height: 70px; z-index: 10; }

.b-notification-item { border-bottom: 1px solid #f2f4f6; }
.b-notification-item .inner { padding-right: 22px; padding-bottom: 23px; padding-top: 20px; margin-left: 20px; }
.b-notification-item .top { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; padding-bottom: 5px; }
.b-notification-item .top .hashtag { margin-right: 20px; text-align: left; }
.b-notification-item .top span { opacity: 0.48; color: #6f7b88; font-size: 11px; font-weight: 400; line-height: 18px; margin-right: 10px; text-align: left; }
.b-notification-item .top .status { display: block; width: 11px; height: 11px; border: 3px solid #fff; border-radius: 50%; -webkit-box-flex: 0; -webkit-flex: 0 1 auto; -ms-flex: 0 1 auto; flex: 0 1 auto; margin-left: auto; /* new */ }
.b-notification-item .user { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin-bottom: 8px; }
.b-notification-item .avatar { width: 24px; height: 24px; position: relative; margin-right: 8px; border-radius: 50%; background-color: #3c4858; }
.b-notification-item .name { color: #3c4858; font-size: 14px; font-weight: 600; white-space: nowrap; max-width: 250px; overflow: hidden; text-overflow: ellipsis; }
.b-notification-item .text { margin-bottom: 10px; color: #7a8798; font-size: 14px; font-weight: 400; line-height: 20px; max-width: 310px; padding-right: 10px; }
.b-notification-item .text a { color: #00e2a1; position: relative; }
.b-notification-item .text .n-review { padding-left: 16px; }
.b-notification-item .text .n-review:after { content: "\f075"; position: absolute; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; bottom: 2px; left: 0; border: none; color: #00e2a1; }
.b-notification-item:hover { cursor: pointer; }

.b-notification-item__new .status { background-color: #00e2a1; }
.b-notification-item__new .avatar:after { background-color: #00e2a1; content: ""; position: absolute; width: 11px; height: 11px; border: 3px solid #fff; box-sizing: border-box; bottom: -2px; right: 0; border-radius: 50%; }

.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background-color: #9da8b4; }

.mCSB_scrollTools .mCSB_draggerRail { width: 2px !important; }

.menu-defer { text-align: left; min-width: 100px; left: -45px; padding-top: 0; padding-bottom: 0; border-radius: 0; border: none; box-shadow: 0 1px 5px 1px rgba(144, 156, 168, 0.4); padding-bottom: 4px; z-index: 1; margin-top: 7px; }
.menu-defer li { margin-right: 0 !important; margin-left: 0 !important; width: 100%; padding: 0 4px; }
.menu-defer li a { text-align: left; padding-left: 8px; padding-right: 0; }
.menu-defer .drop-title { opacity: 0.5; color: #6f7b88; font-size: 11px; font-weight: 400; padding-top: 8px; padding-bottom: 8px; line-height: 11px; padding-left: 12px; position: relative; }
.menu-defer .drop-title:before { content: ""; width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 10px solid #fff; position: absolute; left: 0px; right: 0; top: -48px; bottom: 0; margin: auto; z-index: 1; }

.b-n-rating { background-color: #f2f4f6; padding: 24px; display: none; }
.b-n-rating textarea { border: none; display: block; width: 100%; height: 108px; border-radius: 5px; background-color: #fff; margin-bottom: 8px; resize: none; padding: 10px; color: #7a8798; font-size: 14px; line-height: 18px; font-weight: 400; }

.panel-rating { margin-bottom: 8px; }
.panel-rating .btn { box-shadow: none; -webkit-transition: all .5s ease; transition: all .5s ease; border-color: #d5dadf; }
.panel-rating .btn.active { background-color: #00e2a1; border-color: #00e2a1; }
.panel-rating .btn-group { display: table; width: 100%; }
.panel-rating label { display: table-cell; float: none !important; }

.panel-rating__label { color: #7a8798; font-size: 14px; font-weight: 400; line-height: 25px; display: block; }

.btn-send-rating { display: block; width: 100%; border: none; color: #fff; font-size: 16px; font-weight: 400; line-height: 30px; border-radius: 5px; background-color: #3c4858; }

.mCSB_inside > .mCSB_container { margin-right: 0px; }

.hashtag-panel-list { padding: 24px; border-top: 1px solid #f2f4f6; }
.hashtag-panel-list .top { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin-bottom: 10px; }
.hashtag-panel-list .top .title { opacity: 0.48; color: #6f7b88; font-size: 14px; font-weight: 400; line-height: 27px; }
.hashtag-panel-list .top a { color: #9da8b4; font-size: 14px; -webkit-transition: all .5s ease; transition: all .5s ease; }
.hashtag-panel-list .hashtag { font-size: 13px; font-weight: 400; line-height: 13px; text-transform: uppercase; color: #00e2a1; display: inline-block; padding: 9px 10px 8px; }
.hashtag-panel-list .hashtag:hover { color: #fff; border-radius: 2px; background-color: #00e2a1; }

.btn-xpand-list { color: #9da8b4; float: right; font-size: 14px; }
.btn-xpand-list:hover { cursor: pointer; }

.message-wrap { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; height: calc(98vh - 104px); overflow: hidden; padding-top: 24px; }

.b-message-aside { width: 280px; min-width: 280px; position: relative; }
.b-message-aside:after { content: ""; position: absolute; bottom: 0px; left: 0px; width: 100%; background-image: -webkit-linear-gradient(bottom, #f2f4f6 0%, rgba(255, 255, 255, 0) 100%); background-image: linear-gradient(to top, #f2f4f6 0%, rgba(255, 255, 255, 0) 100%); height: 70px; z-index: 10; }

.category-heading .fa-chevron:after { content: "\f107"; }

.category-heading .collapsed .fa-chevron:after { content: "\f106"; }

.b-message-aside .contacts-list { padding-top: 13px; }
.b-message-aside .category__inner { border-bottom: 1px solid rgba(224, 228, 232, 0.5); padding-bottom: 10px; margin-bottom: 13px; }
.b-message-aside .category { padding-left: 16px; padding-right: 16px; }
.b-message-aside .contact > a { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; position: relative; margin-bottom: 8px; border-radius: 5px; padding: 8px; -webkit-transition: all .5s ease; transition: all .5s ease; }
.b-message-aside .contact > a:hover { background-color: #fff; }
.b-message-aside .contact .badge { position: absolute; top: -2px; left: -4px; padding: 3px 6px; }
.b-message-aside .badge { background-color: #00e2a1; font-size: 11px; line-height: 13px; }
.b-message-aside .info { padding-left: 11px; }
.b-message-aside .head { width: 40px; height: 40px; border-radius: 50%; position: relative; background-color: #e0e4e8; text-align: center; }
.b-message-aside .head b { color: #fff; font-family: Lobster; font-size: 24px; font-weight: 400; line-height: 42px; text-transform: uppercase; }
.b-message-aside .category-heading { color: #7a8798; font-size: 14px; font-weight: 400; line-height: 14px; padding-left: 23px; }
.b-message-aside .category-heading i { margin-left: 7px; }
.b-message-aside .category-heading a:link, .b-message-aside .category-heading a:hover, .b-message-aside .category-heading a:active, .b-message-aside .category-heading a:visited { color: #7a8798; }
.b-message-aside .category-heading .badge { float: right; }
.b-message-aside .info-name { color: #3c4858; font-size: 16px; font-weight: 400; line-height: 16px; margin-bottom: 5px; }
.b-message-aside .info-text { color: #7a8798; font-size: 12px; font-weight: 400; line-height: 12px; }
.b-message-aside .info-text span { opacity: 0.5; color: #7a8798; font-size: 12px; font-weight: 400; line-height: 12px; margin-left: 8px; }

.st-online { position: absolute; width: 13px; height: 13px; border: 3px solid #f2f4f6; background-color: #00e2a1; box-sizing: border-box; bottom: 0px; right: 0px; border-radius: 50%; }

.message-content { width: 100%; position: relative; padding-bottom: 52px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.b-chats > li { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: flex-start; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; padding-top: 8px; padding-bottom: 8px; margin-bottom: 2px; padding-left: 24px; padding-right: 24px; position: relative; }
.b-chats > li:last-child .body { border-bottom: none; }

.chat-wrap { border-radius: 7px; background-color: #fff; margin-bottom: 12px; }

.b-chats { padding-top: 14px; }
.b-chats .avatar__inner { border-radius: 50%; overflow: hidden; }
.b-chats .avatar { margin-right: 16px; width: 56px; height: 56px; position: relative; }
.b-chats .body { border-bottom: 1px solid rgba(224, 228, 232, 0.5); width: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
.b-chats .body .edit { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; margin-top: 10px; margin-right: 17px; margin-left: 17px; position: relative; }
.b-chats .body .edit a { color: #9da8b4; }
.b-chats .body .edit a:link, .b-chats .body .edit a:hover, .b-chats .body .edit a:active, .b-chats .body .edit a:visited { color: #9da8b4; }
.b-chats .body .edit.open { position: relative; }
.b-chats .body .edit.open:before { content: ""; width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 10px solid #fff; position: absolute; left: 0px; right: 0; bottom: -7px; margin: auto; z-index: 1; }
.b-chats .message { padding-bottom: 20px; padding-top: 5px; width: 100%; padding-right: 140px; }
.b-chats .message .text { color: #7a8798; font-size: 16px; font-weight: 300; line-height: 24px; }
.b-chats .name { color: #3c4858; font-size: 16px; font-weight: 400; line-height: 16px; margin-bottom: 10px; }
.b-chats .name span { opacity: 0.5; color: #7a8798; font-size: 12px; font-weight: 400; line-height: 12px; margin-left: 7px; }

.chat-form { position: absolute; bottom: 0; left: 0; width: 100%; }
.chat-form input::-webkit-input-placeholder { opacity: 0.5; color: #7a8798; font-size: 16px; font-weight: 400; line-height: 40px; }
.chat-form input:-moz-placeholder { opacity: 0.5; color: #7a8798; font-size: 16px; font-weight: 400; line-height: 40px; }
.chat-form input::-moz-placeholder { opacity: 0.5; color: #7a8798; font-size: 16px; font-weight: 400; line-height: 40px; }
.chat-form input:-ms-input-placeholder { opacity: 0.5; color: #7a8798; font-size: 16px; font-weight: 400; line-height: 40px; }
.chat-form input { -webkit-user-select: none; border: none; height: 40px; padding-left: 16px; padding-right: 16px; width: 100%; border-radius: 5px; background-color: #fff; }

.message-edit { text-align: center; width: 100px; min-width: 0; left: auto; right: 0; padding-top: 0; padding-bottom: 0; border-radius: 0; border: none; box-shadow: 0 1px 5px 1px rgba(144, 156, 168, 0.4); padding-bottom: 4px; padding-top: 4px; border-radius: 5px; z-index: 1; margin-top: 7px; }
.message-edit li { margin-right: 0 !important; margin-left: 0 !important; width: 100%; padding: 0 4px; text-align: center; }
.message-edit li a { padding-left: 2px; padding-right: 2px; color: #9da8b4; font-size: 14px; -webkit-transition: all .5s ease; transition: all .5s ease; display: block; -webkit-transition: all .5s ease; transition: all .5s ease; }

.b-dispatch { padding: 24px; padding-bottom: 0; margin-bottom: 5px; box-shadow: 0 1px 5px 1px rgba(144, 156, 168, 0.4); background-color: #fff; border-radius: 5px; position: relative; }
.b-dispatch li:last-child .info { border-bottom: none; }
.b-dispatch .top h4 { color: #3c4858; font-size: 16px; font-weight: 400; line-height: 16px; margin-bottom: 3px; }
.b-dispatch .top a { color: #00e2a1; font-size: 13px; font-weight: 400; line-height: 13px; }
.b-dispatch .top a:link, .b-dispatch .top a:hover, .b-dispatch .top a:active, .b-dispatch .top a:visited { color: #00e2a1; }
.b-dispatch .top h5 span { opacity: 0.5; color: #7a8798; font-size: 12px; font-weight: 400; line-height: 12px; margin-left: 10px; }

.b-dispatch-item { padding-top: 16px; padding-bottom: 16px; text-align: left; }
.b-dispatch-item a { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.b-dispatch-item .title { color: #3c4858; font-size: 16px; font-weight: 600; line-height: 27px; }
.b-dispatch-item .info { margin-left: 16px; width: 100%; border-bottom: 1px solid rgba(224, 228, 232, 0.5); padding-bottom: 24px; }
.b-dispatch-item .text { margin-bottom: 5px; }
.b-dispatch-item .address { color: #3c4858; font-size: 13px; font-weight: 400; line-height: 13px; margin-right: 13px; display: inline-block; vertical-align: middle; }
.b-dispatch-item .address .icon { display: inline-block; vertical-align: middle; background: url("/frontend/images/gliss/icon-metro.png") center no-repeat; width: 16px; height: 12px; margin-right: 10px; }
.b-dispatch-item .name-wrap { display: inline-block; vertical-align: middle; }
.b-dispatch-item .name-wrap .avatar { width: 24px; height: 24px; margin-right: 8px; }
.b-dispatch-item .name-wrap .avatar img { border-radius: 50%; }
.b-dispatch-item .name__inner { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.b-dispatch-item .name { color: #3c4858; font-size: 13px; font-weight: 600; line-height: 13px; }
.b-dispatch-item .price { color: #3c4858; font-size: 16px; font-weight: 400; line-height: 16px; }
.b-dispatch-item .price span { margin-left: 6px; font-size: 15px; }

.dispatch-list { position: relative; }
.dispatch-list:after { content: ""; position: absolute; bottom: 0px; left: 0px; width: 100%; background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(255, 255, 255, 0) 100%); background-image: linear-gradient(to top, #fff 0%, rgba(255, 255, 255, 0) 100%); height: 50px; z-index: 10; }

.btn-collapse-dispatch { position: absolute; bottom: -12px; right: 20px; box-shadow: 0px 4px 3px -1px rgba(144, 156, 168, 0.4); color: #3c4858; font-size: 12px; font-weight: 400; line-height: 14px; background-color: #fff; padding: 5px 10px 7px; border-radius: 50px; z-index: 10; }
.btn-collapse-dispatch i { display: inline-block; vertical-align: middle; background: url("/frontend/images/gliss/icon-up-down.png") center no-repeat; width: 7px; height: 12px; margin-left: 7px; }
.btn-collapse-dispatch:link, .btn-collapse-dispatch:hover, .btn-collapse-dispatch:active, .btn-collapse-dispatch:visited { color: #3c4858; }

.p-help#page-wrapper { padding: 0; background-color: #fff; padding-top: 80px; }

.b-help-head { background: url("/frontend/images/gliss/bg-help-head.png") center no-repeat; background-size: cover; padding-top: 54px; padding-bottom: 60px; }
.b-help-head input::-webkit-input-placeholder { color: #6f7b88; font-size: 16px; font-weight: 400; line-height: 27px; }
.b-help-head input:-moz-placeholder { ccolor: #6f7b88; font-size: 16px; font-weight: 400; line-height: 27px; }
.b-help-head input::-moz-placeholder { color: #6f7b88; font-size: 16px; font-weight: 400; line-height: 27px; }
.b-help-head input:-ms-input-placeholder { color: #6f7b88; font-size: 16px; font-weight: 400; line-height: 27px; }
.b-help-head .title { color: #3c4858; font-size: 19px; font-weight: 400; line-height: 29px; max-width: 540px; margin-bottom: 28px; }
.b-help-head .hint-block { font-size: 13px; font-weight: 400; line-height: 27px; color: #fff; }
.b-help-head .hint-block span { color: #6f7b88; margin-left: 5px; border-bottom: 1px dotted #6f7b88; }
.b-help-head .nav__search { max-width: 336px; height: 40px; box-shadow: 0 6px 12px 1px rgba(144, 156, 168, 0.4); border-radius: 50px; background-color: #fff; margin-left: 0; margin-bottom: 12px; }
.b-help-head .nav__search span { color: #96a2af; }
.b-help-head .nav__search .form-group { margin-bottom: 0; }
.b-help-head .nav__search .form-control { height: 40px; background-color: #fff; border-top-right-radius: 50px; border-bottom-right-radius: 50px; }
.b-help-head .nav__search button { background-color: #fff; border-top-left-radius: 50px; border-bottom-left-radius: 50px; }

.b-help-aside { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; -webkit-flex-basis: 425px; -ms-flex-preferred-size: 425px; flex-basis: 425px; padding-left: 100px; }
.b-help-aside .head { color: #7a8798; font-size: 11px; font-weight: 400; line-height: 27px; text-transform: uppercase; margin-bottom: 10px; }
.b-help-aside .cat-item.found-query > a:before { content: ""; width: 4px; height: 4px; background-color: #00e2a1; border-radius: 50%; position: absolute; left: -15px; top: 0; bottom: 0; margin: auto; }
.b-help-aside .cat-item.active { padding-top: 15px; padding-bottom: 15px; }
.b-help-aside .cat-item.active > a { color: #00e2a1; }
.b-help-aside .cat-item a { color: #3c4858; font-size: 16px; font-weight: 400; line-height: 27px; position: relative; -webkit-transition: all .5s ease; transition: all .5s ease; }
.b-help-aside .cat-item:hover > a { color: #00e2a1; }
.b-help-aside .cat-submenu a { font-weight: 400; color: #7a8798; font-size: 13px; }
.b-help-aside .cat-submenu li:hover > a { color: #00e2a1; }

.help-wrap { padding-left: 160px; }

.help-content { -webkit-order: -1; -ms-order: -1; -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; }
.help-content h2 { color: #3c4858; font-size: 32px; font-weight: 700; line-height: 32px; margin-bottom: 25px; }
.help-content h3 { color: #3c4858; font-size: 24px; font-weight: 700; line-height: 24px; margin-bottom: 25px; }
.help-content .section { margin-bottom: 20px; }
.help-content .section:not(:first-child) { padding-top: 20px; }
.help-content .s-result { display: inline-block; padding-left: 3px; padding: 0 4px; background-color: #00e2a1; color: #fff; }
.help-content .note { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; border-radius: 5px; background-color: #f2f4f6; padding: 33px 24px; margin-bottom: 35px; }
.help-content .note i { color: #fff; display: inline-block; width: 32px; height: 32px; background-color: #a6b0bb; border-radius: 50%; line-height: 32px; -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; text-align: center; font-size: 18px; }
.help-content .note .text { padding-left: 24px; color: #3c4858; font-size: 16px; font-weight: 400; line-height: 24px; padding-right: 50px; }
.help-content .list li { color: #8591a0; font-size: 16px; font-weight: 400; line-height: 24px; position: relative; padding-left: 20px; }
.help-content .list li:before { content: ""; width: 7px; height: 7px; background-color: #00e2a1; border-radius: 50%; position: absolute; left: 0; top: 0; bottom: 0; margin: auto; }
.help-content .image { margin-bottom: 40px; }
.help-content .image img { display: block; box-shadow: 0 6px 12px 1px rgba(144, 156, 168, 0.4); margin-bottom: 20px; }
.help-content .image .signature { opacity: 0.5; color: #7a8798; font-size: 13px; font-weight: 400; line-height: 13px; }
.help-content .delimiter { width: 56px; height: 4px; background-color: #00e2a1; margin-left: 0; margin-top: 45px; margin-bottom: 35px; }
.help-content p { color: #7a8798; font-size: 16px; font-weight: 400; line-height: 24px; margin-bottom: 25px; }
.help-content p b { color: #3c4858; font-size: 19px; font-weight: 400; line-height: 30px; }
.help-content hr { margin-top: 20px; margin-bottom: 40px; }

.help-main { padding-top: 67px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.sticky-search { background-color: #f2f4f6; padding-top: 16px; padding-bottom: 16px; text-align: left; display: none; position: fixed; width: 100%; z-index: 10; top: 80px; }
.sticky-search > .help-wrap { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }
.sticky-search .nav__search { max-width: 592px; height: 40px; border-radius: 50px; background-color: #fff; margin-left: 0; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; margin-right: initial; }
.sticky-search .nav__search span { color: #96a2af; }
.sticky-search .nav__search .form-group { margin-bottom: 0; }
.sticky-search .nav__search .form-control { height: 40px; background-color: #fff; border-top-right-radius: 50px; border-bottom-right-radius: 50px; color: #6f7b88; font-size: 16px; font-weight: 400; line-height: 16px; }
.sticky-search .nav__search button { background-color: #fff; border-top-left-radius: 50px; border-bottom-left-radius: 50px; }

.sticky-search.active { display: block; }

.sticky-search__result { color: #bbc0c6; font-size: 13px; font-weight: 400; line-height: 13px; margin-left: 37px; }

.sticky-search__action { padding-left: 21px; padding-right: 21px; }
.sticky-search__action a { color: #000; display: inline-block; width: 29px; height: 29px; background-color: #fff; border-radius: 50%; line-height: 29px; text-align: center; position: relative; margin-left: 4px; margin-right: 4px; -webkit-transition: all .5s ease; transition: all .5s ease; }
.sticky-search__action a:hover { background-color: #00e2a1; }
.sticky-search__action a:before { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
.sticky-search__action a:nth-child(1):before { left: -4px; }
.sticky-search__action a:nth-child(2):before { right: -4px; }

.icon-sticky-search { background-color: #00e2a1; color: #fff !important; width: 40px; height: 40px; line-height: 40px; text-align: center; border-radius: 50%; position: fixed; left: 260px; top: 120px; display: none; }

.sticky-search.active .sticky-search__result, .sticky-search.active .sticky-search__action { display: none; }

.b-help-aside__inner.active { position: fixed; top: 120px; }
